[client]
host=localhost
port=3306
user=student
password=student123
database=learning_sql

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-storage-engine=INNODB

